@import "../../css/variables.scss";

.services {
  @include section-center;
  @include flex-col;
  padding: 2rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  button {
    @include btn($primary, $white-text);
    margin: 1.5rem auto;
  }
}

.colorText {
  color: $primary-light;
}

.grid {
  @include flex-col;
  align-items: center;
}

.single {
  max-width: 22rem;
  @include flex-col;
  align-items: center;
  margin: 2rem 0;

  p,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.svg {
  width: $svg-l;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .services {
    padding: 3rem 0;

    h2 {
      margin-bottom: 3rem;
    }
  }

  .grid {
    @include flex-row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
  }

  .single {
    margin: 3rem 1rem;
  }
}
