@import "../../css/variables.scss";

// Section container
.services {
  @include section-center;
  @include flex-col;
  padding: 2rem 0;

  // Section title
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  // Contact us link & button
  a {
    display: block;
    margin: 0 auto;
    button {
      @include btn($primary, $white-text);
      margin: 1.5rem 0;
    }
  }
}

// Span to color first word of the title
.colorText {
  color: $primary-light;
  position: relative;
}

// Underline span animated with framer-motion
.underline {
  content: "";
  position: absolute;
  width: 95%;
  height: 1rem;
  border-bottom: 0.2rem solid $primary-light;
  bottom: -0.15rem;
  left: 2.5%;
}

// Services grid
.grid {
  @include flex-col;
  align-items: center;
}

// Single service card
.single {
  max-width: 22rem;
  @include flex-col;
  align-items: center;
  margin: 2rem 0;

  p,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  a {
    color: $primary;
  }
}

// svg container inside card
.svg {
  width: $svg-l;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  // Increase padding on larger screens
  .services {
    padding: 3rem 0;

    h2 {
      margin-bottom: 3rem;
    }
  }

  // Set grid to flex-row to have adjacent cards and increase card margin
  .grid {
    @include flex-row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
  }

  .single {
    margin: 3rem 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  // Further increase padding/margins on larger screens
  .services {
    padding: 5rem 0;

    h2 {
      margin-bottom: 3rem;
    }
  }
}
