@import "../../css/variables.scss";

.services {
  @include section-center;
  @include flex-col;
  padding: 2rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  button {
    @include btn($primary, $white-text);
    margin: 1.5rem auto;
  }
}

.grid {
  @include flex-col;
  align-items: center;
}

.single {
  max-width: 22rem;
  @include flex-col;
  align-items: center;
  margin: 1.5rem 0;

  p,
  h3 {
    text-align: center;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
}

.svg {
  width: 4rem;
  margin-bottom: 0.5rem;
}
