@import "../../css/variables.scss";

// Hero container
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: $black;
}

// Hero image (GatsbyImage component)
.image {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

// Text section container
.container {
  @include section-center;
  @include flex-col;
  min-height: 100vh;
  justify-content: center;
  padding-top: $header-height + 2rem;
  z-index: 2;
}

// Text section
.text {
  max-width: 31rem;
  z-index: 2;
  h1,
  p {
    color: $white-text;
    margin-bottom: 2rem;
  }
}

// Buttons div in text section
.buttons {
  @include flex-col;
}

.servicesBtn {
  @include btn($primary, $white-text);
  margin-bottom: 1rem;
}

.contactBtn {
  @include btn($white, $black);
}

@media only screen and (min-width: 350px) {
  // Set buttons adjacent & fix margins
  .buttons {
    @include flex-row;
  }

  .servicesBtn {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  // Add a max width to text section and increase font sizes
  .text {
    max-width: 40rem;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .buttons {
    @include flex-row;

    button {
      width: 10.5rem;
      height: 2.5rem;
    }
  }
}
