@import "../../css/variables.scss";

.about {
  width: 100%;
  height: 70rem;
  overflow: hidden;
}

.textSection {
  position: relative;
  width: 100%;
  height: 42rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: $black;
  z-index: 2;
}

.text {
  @include section-center;
  padding: 2rem 0 6rem;

  h2,
  p {
    color: $white-text;
  }

  h2 {
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

.underline {
  content: "";
  width: 0%;
  height: 1rem;
  border-bottom: 0.2rem solid $primary;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
}

.aboutImg {
  width: 100%;
  height: 38rem;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  position: relative;
  margin-top: -10.1rem;
  z-index: 1;
}

.imageTwo {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $black, $alpha: 0.4);
  z-index: 10;
}

@media only screen and (min-width: 580px) {
  .about {
    @include flex-row;
    height: auto;
  }

  .textSection {
    width: 60vw;
    height: unset;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    flex-shrink: 0;
  }

  .text {
    width: 40vw;
    margin: 0 5vw;
    padding: 3rem 0;
  }

  .aboutImg {
    width: 60vw;
    height: unset;

    flex-shrink: 0;

    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    margin-top: unset;
    margin-left: -15vw;
  }
}

@media only screen and (min-width: 1440px) {
  .text {
    width: 50vw;
    max-width: 640px;
    margin-left: auto;
    margin-right: 10vw;
  }

  .text {
    padding: 5rem 3rem 5rem 0;
  }
}
