@import "../../css/variables.scss";

// Navigation container, fixed to fill whole screen
.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
}

// Inner container for logo & nav links
.container {
  @include section-center;
  height: 100%;
  padding: 2rem 0;
  @include flex-col;
  align-items: center;
  justify-content: center;
  position: relative;
}

// Div container for logo
.logo {
  width: 12rem;
  margin-bottom: 1rem;
}

// nav
.links {
  @include flex-col;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
  ul {
    li {
      color: $white-text;
      font-size: 1.75rem;
      margin-bottom: 1.75rem;
      text-align: center;
    }
  }
}

// Close nav icon
.back {
  width: $svg-s;
  position: absolute;
  top: 2.25rem;
  right: calc(5% + 2.25rem);
  transform: rotate(180deg);
}
