@import "../../css/variables.scss";

// Contact info ul
.list {
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0.5rem;

    p {
      font-size: 1rem;
    }
  }
}

// SVG container
.svg {
  width: $svg-s;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}
