@import "../../css/variables.scss";

.list {
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0.5rem;
    // align-items: center;

    p {
      font-size: 1rem;
    }
  }
}

.svg {
  width: $svg-s;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}
