@import "../../css/variables.scss";

.container {
  background-color: $primary;
  padding: 1rem 1rem;
  position: relative;
  z-index: 10;
  margin-top: 2rem;

  h2 {
    color: $white-text;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.form {
  font-family: $text-font;
  font-size: 0.9rem;

  input {
    height: 2.5rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: none;
    width: 100%;
    background-color: $white;
  }

  button {
    @include btn($white-text, $black);
    display: block;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 2rem 2rem;
    width: 75%;
    margin: 2rem auto 0;

    h2 {
      margin-bottom: 2rem;
    }
  }
  .form {
    input {
      width: calc(50% - 0.5rem);
    }
  }

  .name,
  .phone {
    margin-right: 0.5rem;
  }

  .email,
  .company {
    margin-left: 0.5rem;
  }
}
