@import "../../css/variables.scss";

// Contact form container
.container {
  background-color: $primary;
  padding: 1rem 1rem;
  position: relative;
  z-index: 10;
  margin-top: 2rem;
  border: 1rem solid $primary-light;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  // Title at top of form
  h2 {
    color: $white-text;
    margin-bottom: 1rem;
    text-align: center;
  }
}

// Contact form
.form {
  font-family: $text-font;
  font-size: 0.9rem;

  input {
    height: 2.5rem;
  }

  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: none;
    width: 100%;
    background-color: $white;
  }

  // Submit btn
  button {
    @include btn($white-text, $black);
    display: block;
    margin: 1rem auto;
  }
}

// Success message
.success {
  text-align: center;
  color: $white-text;
}

@media only screen and (min-width: 768px) {
  // Decrease width, add more padding & center the form
  .container {
    width: 80%;
    margin: 2rem auto 0;
    padding: 1rem 2rem;
  }

  // Resize inputs to half the container minus their margin, to fit adjacently
  .form {
    input {
      width: calc(50% - 0.5rem);
    }
  }

  // Add margins to inputs
  .name,
  .phone {
    margin-right: 0.5rem;
  }

  .email,
  .company {
    margin-left: 0.5rem;
  }
}
