@import "../../css/variables.scss";

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  @include section-center;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  height: $header-height;
  background-color: transparent;
  z-index: 2;
}

.clippedBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}

.logo {
  height: 4.5rem;
  background-color: $primary;
  z-index: 3;
  @include flex-row;
  align-items: center;
  padding: 0 1rem;

  svg {
    width: 7rem;
  }
}

.navIcon {
  width: 2rem;
  z-index: 3;
  justify-self: flex-end;
}

.desktopNav,
.freeQuote {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 6%;
    justify-content: unset;
  }

  .navIcon {
    display: none;
  }

  .desktopNav {
    display: block;
    margin: 0 auto;
    z-index: 3;
    ul {
      @include flex-row;
      li {
        color: $heading-color;
        font-size: 0.9rem;
        margin: 0 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 5%;
  }

  .freeQuote {
    display: block;
    button {
      z-index: 3;
      @include btn($primary, $white);
      width: 9.5rem;
      text-transform: none;
      font-family: $text-font;
      font-size: 0.9rem;
      @include flex-row;
      align-items: center;
      justify-content: center;

      &:before,
      &:after {
        display: none;
      }

      div {
        width: 0.75rem;
        transform: rotate(180deg);
        margin: 0 0 0.2rem 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .clippedBG {
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  }
  .desktopNav {
    ul {
      li {
        margin: 0 1.25rem;
      }
    }
  }
}
