@import "../../css/variables.scss";

// Header outer container
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  @include section-center;
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  height: $header-height;
  background-color: transparent;
  z-index: 2;
}

// Header clipped inner container
.clippedBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}

// Dark colored clipped container for use on certain pages
.clippedBgDark {
  background-color: $black;
}

// Logo container
.logo {
  height: 4.5rem;
  background-color: $primary;
  z-index: 3;
  @include flex-row;
  align-items: center;
  padding: 0 1rem;

  svg {
    width: 7rem;
  }
}

// Nav icon to open/close mobile nav
.navIcon {
  width: 2rem;
  z-index: 3;
  justify-self: flex-end;
}

// Hide the desktop navigation and free quote button on mobile devices
.desktopNav,
.freeQuote {
  display: none;
}

@media only screen and (min-width: 768px) {
  // Unset justify to fit desktop nav and reduce padding
  .header {
    padding: 0 6%;
    justify-content: unset;
  }

  // Hide mobile nav icon
  .navIcon {
    display: none;
  }

  // Show & style desktop nav
  .desktopNav {
    display: block;
    margin: 0 auto;
    z-index: 3;
    ul {
      @include flex-row;
      li {
        color: $heading-color;
        font-size: 0.9rem;
        margin: 0 1rem;
        font-weight: 700;
      }
    }
  }

  // Dark desktop nav for use on certain pages
  .desktopNavDark {
    ul {
      li {
        color: $white-text;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  // Make space above header for TopBar component
  .header {
    padding: 0 5%;
    top: calc(#{$topbar-height} + 1rem);
  }

  // Display the "get free quote" button
  .freeQuote {
    display: block;
    button {
      z-index: 3;
      @include btn($primary, $white);
      width: 10rem;
      text-transform: none;
      font-family: $text-font;
      font-size: 0.9rem;
      @include flex-row;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.05rem;
      font-weight: 400;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  // Modify the clipped background so it doesnt looks too "sharp" as the screen gets bigger
  .clippedBg {
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
  }

  // Add more margin to nav items
  .desktopNav {
    ul {
      li {
        margin: 0 1.25rem;
      }
    }
  }
}
