@import "../../css/variables.scss";

.findUs {
  margin-top: 2rem;
  flex: 1;
}

.map {
  width: 100%;
  height: 15rem;
  background-color: $white;
}

@media only screen and (min-width: 768px) {
  .findUs {
    margin-top: 0;
    margin-left: 2rem;

    h4 {
      display: block;
      margin: 0 auto;
    }
  }

  .map {
    width: 100%;
    height: 11rem;
  }
}

@media only screen and (min-width: 1024px) {
  .findUs {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
