// Main colors
$white: #fff;
$black: #202020;
$grey: #616161;
$primary: #165bb5;
$white-text: rgba(
  $color: $white,
  $alpha: 0.9,
);

// Sections
$bg-color: $black;

// Text
$heading-color: $black;
$heading-font: "Poppins", sans-serif;
$text-color: $grey;
$text-font: "Roboto", sans-serif;

// Mixins
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
}
