// Main colors
$white: #fff;
$black: #202020;
$grey: #616161;
$primary: #165bb5;
$primary-light: #3c86e7;
$white-text: rgba(
  $color: $white,
  $alpha: 0.9,
);

// Sections
$bg-color: $white;
$header-height: 3.5rem;

// Text
$heading-color: $black;
// $heading-font: "Poppins", sans-serif;
$text-font: "Poppins", sans-serif;
$text-color: $grey;
// $text-font: "Roboto", sans-serif;
$heading-font: "Roboto", sans-serif;
$svg-l: 4rem;
$svg-s: 1.25rem;

// Mixins
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
}

@mixin btn($bg, $text) {
  border: 0;
  border-radius: 0;
  width: 9.5rem;
  height: 2.2rem;
  background-color: $bg;
  color: $text;
  position: relative;
  letter-spacing: 0.1rem;
  font-weight: 700;

  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-top: 0.15rem solid $bg;
    border-left: 0.15rem solid $bg;
    position: absolute;
    top: -0.3rem;
    left: -0.3rem;
    transition: all 0.2s linear;
  }

  &:after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-bottom: 0.15rem solid $bg;
    border-right: 0.15rem solid $bg;
    position: absolute;
    bottom: -0.3rem;
    right: -0.3rem;
    transition: all 0.2s linear;
  }

  &:hover {
    &:before,
    &:after {
      content: "";
      width: 8.75rem;
      height: 2.1rem;
    }
  }
}
