@import "../../css/variables.scss";

.footer {
  width: 100%;
  background-color: $black;
  padding: 19rem 0 2rem;
  margin-top: -18rem;
  z-index: 1;
}

.container {
  @include section-center;

  h4,
  p {
    color: $white-text;
  }
  h4 {
    margin-bottom: 1.5rem;
    position: relative;

    &:after {
      content: "";
      width: 1.5rem;
      height: 1rem;
      border-bottom: 0.2rem solid $primary;
      position: absolute;
      bottom: -0.25rem;
      left: 0;
    }
  }

  nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    @include flex-row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    nav {
      display: block;

      ul {
        li {
          margin-bottom: 0.5rem;
          color: $white-text;
        }
      }
    }
  }
}
