@import "../../css/variables.scss";

// Footer outer container
.footer {
  width: 100%;
  background-color: $black;
  padding: 2rem 0;
  z-index: 1;
}

// Inner centered container
.container {
  @include section-center;

  h4,
  p {
    color: $white-text;
  }
  h4 {
    margin-bottom: 1.5rem;
    position: relative;

    // Short underline under section headers
    &:after {
      content: "";
      width: 1.5rem;
      height: 1rem;
      border-bottom: 0.2rem solid $primary;
      position: absolute;
      bottom: -0.25rem;
      left: 0;
    }
  }

  // Hide the nav section on small screens
  nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  // Switch inner footer container to flex-row so contact us and find us sections are adjacent
  .container {
    @include flex-row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  // Display the nav section on large screens
  .container {
    nav {
      display: block;

      ul {
        li {
          margin-bottom: 0.5rem;
          color: $white-text;

          a {
            font-family: $text-font;
          }
        }
      }
    }
  }
}
